body {
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    padding-bottom: 70px;
}

/*form css*/
.container.custom-bg {
    box-shadow: 0 0 60px rgb(203, 236, 255);
    background-color: rgb(240, 240, 240);
    transition: background-color .5s ease; /* smooth effect */
}
.container.custom-bg:hover {
    background-color:rgb(245, 248, 250); /* light blue on hover */
}
.container-bg{
    padding-left: 100px;
    padding-right: 100px;
}
.nav-container{
    background-color: rgb(233, 239, 240);
    border-radius: 8px;
}
.nav-link.home-link{
    font-size: 1.7rem;
}
.nav-link{
    font-size: 1.1rem;
}
.nav-link.bg-hover{
    transition: .3s;
}
.nav-link.bg-hover:hover{
    text-shadow: 0 0 10px rgb(115, 192, 236), 0 0 30px rgb(51, 125, 230);
    padding: 8px;
    border-radius: 10px;
    max-width: 180px;
    box-shadow: 0 0 10px hsla(199, 100%, 50%, 0.507);
}